<%= content_for :page_title, "Edit My Profile" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Edit My Profile", edit_registration_path(current_user) %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form__group">
    <%= f.label :email %>
    <div class="form__field">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form__group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <div class="form__field">
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :password_confirmation %>
    <div class="form__field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <div class="form__field">
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  </div>

  <%= f.submit "Update", class: 'form__submit button button-secondary' %>
<% end %>

