<%= content_for :page_title, "New Bulk Upload" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Bulk Uploads", bulk_uploads_path %>
  <%= breadcrumb "New Bulk Upload", new_bulk_upload_path %>
<% end %>

<p>
  A new report will be created for each line of the .CSV file – unfortunately it is not possible to add reports containing multiple apes.
</p>

<p>
  Please take the time to ensure that the .CSV file matches the correct parameters before uploading.
</p>

<%= form_tag bulk_uploads_path, multipart: true do %>
  <fieldset class="form__group">
    <%= file_field_tag "file", required: true %>
  </fieldset>

  <%= submit_tag "Upload file", class: "button button-primary" %>
<% end %>
