<h3>
  Hello <%= @admin.full_name %>,
</h3>

<p>
  A <%= link_to "report", report_summary_url(@report) %> from
  <%= link_to @report.user.try(:full_name), admin_user_url(@report.user) %> has been returned.
</p>

<% if @validation.comments_for_provider.present? %>
  <p><strong>
    Remarks to Provider:
  </strong></p>

  <p>
    <%= @validation.comments_for_provider %>
  </p>
<% end %>

<% if @validation.comments_for_admin.present? %>
  <p><strong>
    Remarks to Admin:
  </strong></p>

  <p>
    <%= @validation.comments_for_admin %>
  </p>
<% end %>

<p>
  You may wish to review the report and contact the provider to assist them with any changes that need to be made.
</p>

<p>
  Many thanks,<br>
  GRASP
</p>
