<h3>
  Hello <%= @admin.full_name %>,
</h3>

<h1>
  A report <%= link_to report_url(@report), report_path(@report) %> from <%= @report.user.try(:full_name) %> has been validated.
</h1>

<% if @validation.comments_for_provider.present? %>
  <p><strong>
    Remarks to Provider:
  </strong></p>

  <p>
    <%= @validation.comments_for_provider %>
  </p>
<% end %>

<% if @validation.comments_for_admin.present? %>
  <p><strong>
    Remarks to Admin:
  </strong></p>

  <p>
    <%= @validation.comments_for_admin %>
  </p>
<% end %>

<p>
  Many thanks,<br>
  GRASP
</p>
