<%= content_for :page_title, "Change your Password" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Change your Password" %>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form__group">
    <%= f.label :password, "New password" %>
    <div class="form__field">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <div class="form__field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <%= f.submit "Change my password", class: 'form__submit' %>
<% end %>
