<%= content_for :page_title, "Listing Agencies" %>
<%= content_for :breadcrumbs, "Listing Agencies" %>
<%= content_for :page_buttons do %>
  <%= link_to 'New Agency', new_agency_path, class: 'button button-primary' %>
<% end %>

<table class="table u-full-width table--agencies">
  <thead class="table__head">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Website URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.name %></td>
        <td><%= agency.email %></td>
        <td><%= agency.url %></td>
        <td><%= link_to 'Show', agency %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
        <td><%= link_to 'Delete', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


