<%= content_for :page_title, "Agencies" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Agencies", agencies_path %>
<% end %>
<%= content_for :page_buttons do %>
  <%= link_to 'New Agency', new_agency_path, class: 'button button-primary' %>
<% end %>

<table class="table u-full-width table--agencies">
  <thead class="table__head">
    <tr>
      <th class="table__element"><%= sortable "name" %></th>
      <th class="table__element"><%= sortable "email" %></th>
      <th class="table__element"><%= sortable "url", "Website URL" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.name %></td>
        <td><%= agency.email %></td>
        <td><%= agency.url %></td>
        <td><%= link_to 'Show', agency %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
        <td><%= link_to 'Delete', agency, method: :delete, data: { confirm: 'Are you sure you want to permanently delete this agency?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination u-pull-right">
  <%= page_entries_info @agencies %>
  <%= paginate @agencies %>
</div>
