<%= content_for :page_title, @agency.name %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Agencies", agencies_path %>
  <%= breadcrumb @agency.name, agency_path(@agency.id) %>
<% end %>
<%= content_for :page_buttons do %>
  <%= link_to 'Edit Agency', edit_agency_path(@agency), class: 'button' %>
<% end %>

<p>
  <strong>Name</strong><br>
  <%= @agency.name %>
</p>

<p>
  <strong>Email</strong><br>
  <%= @agency.email %>
</p>

<p>
  <strong>Url</strong><br>
  <%= @agency.url %>
</p>

