<%= content_for :page_title, @agency.name %>
<%= content_for :breadcrumbs, "Show Agency" %>
<%= content_for :page_buttons do %>
  <%= link_to 'Edit Agency', edit_agency_path(@agency), class: 'button' %>
<% end %>

<p>
  <strong>Name</strong><br>
  <%= @agency.name || "N/A" %>
</p>

<p>
  <strong>Email</strong><br>
  <%= @agency.email || "N/A" %>
</p>

<p>
  <strong>Website URL</strong><br>
  <%= @agency.url || "N/A" %>
</p>

<p>
  <strong>Address</strong><br>
  <% if @agency.address_1.blank? && @agency.address_2.blank? %>
    N/A
  <% else %>
    <%= @agency.address_1 %><br>
    <%= @agency.address_2 %><br>
  <% end %>
</p>
<p>
  <strong>City</strong><br>
  <%= @agency.city || "N/A" %>
</p>
<p>
  <strong>Post Code</strong><br>
  <%= @agency.post_code || "N/A" %>
</p>

<p>
  <strong>Country</strong><br>
  <%= @agency.country || "N/A" %>
</p>
