<%= content_for :page_title, "Sign In" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Sign In" %>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form__group">
    <%= f.label :email %>
    <div class="form__field">
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :password %>
    <div class="form__field">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form__group">
      <%= f.label :remember_me %>
      <div class="form__field">
        <%= f.check_box :remember_me %>
      </div>
    </div>
  <% end -%>

  <div class="form__submit">
    <%= f.submit "Sign in", class: 'button button-secondary' %>
    <%= link_to 'Forgot your password?', new_user_password_path, class: 'button button-secondary' %>
  </div>
<% end %>


