<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>General information</h3>

  <div class="form__group">
    <%= f.label :first_name %>
    <div class="form__field">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :last_name %>
    <div class="form__field">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :agency_id %>
    <div class="form__field">
      <%= f.collection_select :agency_id, Agency.all, :id, :name %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :role_id %>
    <div class="form__field">
      <%= f.collection_select :role_id, Role.all, :id, :name %>
    </div>
  </div>

  <%= f.collection_check_boxes(:expertise_ids, Expertise.all, :id, :name) do |b| %>
    <div class="form__group">
      <%= b.label %>
      <div class="form__field">
        <%= b.check_box %>
      </div>
    </div>
  <% end %>

  <hr>

  <h3>Contact information</h3>

  <div class="form__group">
    <%= f.label :mobile_number %>
    <div class="form__field">
      <%= f.text_field :mobile_number %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :email %>
    <div class="form__field">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :second_email, 'Additional email address' %>
    <div class="form__field">
      <%= f.email_field :second_email %>
    </div>
  </div>

  <% if !@user.persisted? %>
    <div class="form__group">
      <%= f.label :password %>
      <div class="form__field">
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
    </div>

    <div class="form__group">
      <%= f.label :password_confirmation %>
      <div class="form__field">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
  <% end %>

  <div class="form__group">
    <%= f.label :skype_username %>
    <div class="form__field">
      <%= f.text_field :skype_username %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :address_1 %>
    <div class="form__field">
      <%= f.text_field :address_1 %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :address_2 %>
    <div class="form__field">
      <%= f.text_field :address_2 %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :city %>
    <div class="form__field">
      <%= f.text_field :city %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :post_code %>
    <div class="form__field">
      <%= f.text_field :post_code %>
    </div>
  </div>

  <div class="form__group">
    <%= f.label :country %>
    <div class="form__field">
      <%= f.text_field :country %>
    </div>
  </div>

  <%= f.submit class: 'form__submit' %>
<% end %>
