<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "admin/users/form/general", f: f %>
  <hr>

  <div class="js-form-expertise">
    <%= render "admin/users/form/expertise", f: f %>
    <hr>
  </div>

  <%= render "admin/users/form/contact", f: f %>

  <%= f.submit class: 'form__submit button button-secondary' %>
<% end %>

<hr>

<%= render "admin/users/form/change_password" %>
