<h4><%= status.titleize %> ape #<%= index + 1 %></h4>

<div class="form__group">
  <strong>Individual's name</strong>
  <div class="form__field">
    <%= ape.dig("individual_name_#{status}", 'selected') %>
  </div>
</div>

<div class="form__group">
  <strong>Age</strong>
  <div class="form__field">
    <%= ape.dig("age_#{status}", 'selected') %></p>
  </div>
</div>

<div class="u-row">
  <% ape.dig("photo_#{status}", "selected")&.each do |photo| %>
    <%= image_tag "#{photo["url"]}?size=thumb" %>
  <% end %>
</div>
