<table class="table u-full-width table--reports">
  <thead class="table__head">
    <th><%= sortable "id", "ID" %></th>
    <th><%= sortable "username", "User Name" %></th>
    <th><%= sortable "agency" %></th>
    <th><%= sortable "timestamp" %></th>
    <th><%= sortable "date_of_discovery" %></th>
    <th>Status of ape(s)</th>
    <th><%= sortable "confiscated" %></th>
    <th><%= sortable "state", "Status" %></th>
  </thead>
  <tbody>
    <% reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td><%= report.user_name %></td>
          <td><%= report.user&.agency&.name %></td>
          <td><%= report.timestamp %></td>
          <td><%= report.answer_to("date_of_discovery") %></td>
          <td><%= status_of_apes(report) %></td>
          <td><%= report.answer_to("confiscated") %></td>
          <td><%= report.state %></td>
          <td>
            <% if can? :read, report %>
              <% unless current_user.is_role? :validator %>
                <a href="<%= report_summary_path(report.id) %>">View</a>
              <% end %>
            <% end %>
            <% if can? :update, report %>
              <a href="<%= edit_report_path(report.id) %>">Edit</a>
            <% end %>
            <% if can?(:validate, report) && !report.is_being_validated? %>
              <a href="<%= validate_report_path(report.id) %>">Validate</a>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination u-pull-right">
  <%= paginate reports, params: {table: (table rescue nil)} %>
</div>
