<%= content_for :page_title, "Edit Report" %>
<%= content_for :breadcrumbs, "Edit Report" %>

<div id="report-container" data-report-mode="edit" data-report-id=<%= @report.id %>></div>

<script>var questionnaireTemplate = <%= raw(@questionnaire_template) %></script>
<script>var reportData = <%= raw(@report.data.to_json) %></script>

