<%= content_for :page_title, "Reports Dashboard" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Reports Dashboard", reports_path %>
<% end %>
<%= content_for :page_buttons do %>
  <% if can? :create, Report %>
    <%= link_to "New Report", new_report_path, class: 'button button-primary' %>
  <% end %>
  <% if can? :search, @reports %>
    <%= link_to search_reports_path, class: 'button button-primary' do %>
      <i class="fa fa-search icon icon--closer"></i>Search Reports
    <% end %>
  <% end %>
  <% if can? :export, @reports %>
    <%= link_to 'Export to CSV', export_reports_path, class: 'button button-primary' %>
  <% end %>
<% end %>

<%= render "welcome_message" %>
<%= render "search_results_title" %>

<% if current_user.is_role?(:provider) %>
  <h2>My reports</h2>
  <%= render partial: "table", locals: {reports: @user_reports, table: "user"}  %>

  <h2>Agency reports</h2>
  <%= render partial: "table", locals: {reports: @agency_reports, table: "agency"}  %>
<% else %>
  <%= render partial: "table", locals: {reports: @reports}  %>
<% end %>

