<h1>
  All Reports
  <small>
    <a class="u-pull-right" href="<%= new_report_path %>">Create new report</a>
  </small>
</h1>

<table class="u-full-width">
  <thead>
    <th>ID</th>
    <th>Country of discovery</th>
    <th>Created at</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td><%= report.data["questions"]["country_of_discovery"]["selected"] %></td>
          <td><%= report.created_at %></td>
          <td>
            <a href="<%= report_path(report.id) %>">Show</a>
            <a href="<%= edit_report_path(report.id) %>">Edit</a>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
