<%= content_for :page_title, "Reports Dashboard" %>
<%= content_for :breadcrumbs, "Reports Dashboard" %>

<%= link_to 'Search Reports', search_reports_path %>

<table class="table u-full-width">
  <thead class="table__head">
    <th>ID</th>
    <th>User Name</th>
    <th>Agency</th>
    <th>Timestamp</th>
    <th>Date of discovery</th>
    <th>Status of ape(s)</th>
    <th>Confiscation</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
        <tr>
          <td><%= report.id %></td>
          <td><%= report.user_name %></td>
          <td><%= report.user&.agency&.name %></td>
          <td><%= report.timestamp %></td>
          <td><%= report.answer_to("date_of_discovery") %></td>
          <td><%= status_of_apes(report) %></td>
          <td><%= report.answer_to("confiscated") %></td>
          <td><%= report.state %></td>
          <td>
            <a href="<%= report_path(report.id) %>">Show</a>
            <a href="<%= edit_report_path(report.id) %>">Edit</a>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination u-pull-right">
  <%= paginate @reports %>
</div>
