<%= content_for :page_title, "Reports Dashboard" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Reports Dashboard", reports_path %>
<% end %>
<%= content_for :page_buttons do %>
  <%= render "page_buttons" %>
<% end %>

<%= render "welcome_message" %>
<%= render "search_results_title" %>

<% if current_user.is_role?(:provider) %>
  <h2>My reports</h2>
  <%= render partial: "table", locals: { reports: @user_reports, table: "user" }  %>

  <h2>Agency reports</h2>
  <%= render partial: "table", locals: { reports: @agency_reports, table: "agency" }  %>
<% else %>
  <%= render partial: "table", locals: { reports: @reports}  %>
<% end %>

