<%= content_for :page_title, "Search Reports" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Search Reports", search_reports_path  %>
<% end %>

<%= form_tag reports_path, method: :get do %>
  <div class="form__group">
    <%= label_tag :report_id, 'Report ID' %>
    <div class="form__field">
      <%= text_field_tag :report_id, params[:report_id] %>
    </div>
  </div>

  <div class="form__group">
    <%= label_tag :agencies %>
    <div class="form__field">
      <%= select_tag :agencies, options_from_collection_for_select(Agency.all, "id", "name", params[:agencies]&.map(&:to_i)), multiple: true, class: 'select2' %>
    </div>
  </div>

  <div class="form__group">
    <%= label_tag :users %>
    <div class="form__field">
      <%= select_tag :users, options_from_collection_for_select(User.all, "id", "full_name", params[:users]&.map(&:to_i)), multiple: true, class: 'select2' %>
    </div>
  </div>

  <div class="form__group">
    <%= label_tag :from_date, 'From' %>
    <div class="form__field">
      <%= date_select :from_date, params[:from_date], include_blank: true, default: nil %>
    </div>
  </div>

  <div class="form__group">
    <%= label_tag :to_date, 'To' %>
    <div class="form__field">
      <%= date_select :to_date, params[:to_date], include_blank: true, default: nil %>
    </div>
  </div>

  <div class="form__group">
    <%= label_tag :status_live %>
    <%= check_box_tag :status_live %>
  </div>

  <div class="form__group">
    <%= label_tag :status_dead %>
    <%= check_box_tag :status_dead %>
  </div>

  <div class="form__group">
    <%= label_tag :status_body_parts %>
    <%= check_box_tag :status_body_parts %>
  </div>

  <div class="form__group">
    <%= label_tag :genus, 'Ape (Genus)' %>
    <div class="form__field">
      <%= select_tag :genus, options_for_select(["Bonobo (pan)", "Chimpanzee (pan)", "Gorilla (gorilla)", "Orang-utan (pongo)", "Unknown"]), multiple: true, class: 'select2' %>
    </div>
  </div>

  <div class="form__group">
    <%= label_tag :last_known_location %>
    <div class="form__field">
      <%= select_tag :last_known_location, options_for_select(["With my organisation", "With other organisation (please specify)", "With law enforcement agency", "At location of incident"]), multiple: true, class: 'select2' %>
    </div>
  </div>

  <div class="form__group">
    <%= label_tag :ape_name %>
    <div class="form__field">
      <%= text_field_tag :ape_name, params[:ape_name] %>
    </div>
  </div>

  <div class="form__group">
    <%= label_tag :country_of_discovery %>
    <div class="form__field">
      <%= text_field_tag :country_of_discovery, params[:country_of_discovery] %>
    </div>
  </div>

  <div class="form__submit">
    <%= submit_tag "Search", name: nil, class: 'button button-primary' %>
  </div>
<% end %>
