<%= content_for :page_title, "View Report ##{@report.id}" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Reports Dashboard", reports_path %>
  <%= breadcrumb "Report ##{@report.id}", report_summary_path(@report.id) %>
  <%= breadcrumb "Full Report", report_path(@report.id) %>
<% end %>
<%= content_for :page_buttons do %>
  <% if can? :update, @report %>
    <%= link_to 'Edit Report', edit_report_path(@report), class: 'button button-primary' %>
  <% end %>
<% end %>

<div id="report-container" data-report-mode="show" data-report-id="<%= @report.id %>"></div>

<script>var questionnaireTemplate = <%= raw(@questionnaire_template) %></script>
<script>var reportData = <%= raw(@report.data.to_json) %></script>
