<%= content_for :page_title, "Report Summary ##{@report.id}" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Reports Dashboard", reports_path %>
  <%= breadcrumb "Report ##{@report.id}", report_summary_path(@report.id) %>
<% end %>
<%= content_for :page_buttons do %>
  <% if can? :read, @report %>
    <%= link_to 'View Full Report', report_path(@report), class: 'button button-primary' %>
  <% end %>
  <% if can? :edit, @report %>
    <%= link_to 'Edit Report', edit_report_path(@report), class: 'button button-primary' %>
  <% end %>
<% end %>


<h3>Report status</h3>
<%= report_state_description(@report.state) %>

<% if @report.user.present? %>
  <h3>Report provider</h3>

  <h5>
    <strong><%= @report.user.full_name %></strong>
    <br>
    <%= display_or_default(@report.user.agency.name) %>
  </h5>

  <div class="form__group">
    <strong> Email (primary) </strong>
    <div class="form__field">
      <%= display_or_default(@report.user.email)  %>
    </div>
  </div>

  <div class="form__group">
    <strong> Email (secondary) </strong>
    <div class="form__field">
      <%= display_or_default(@report.user.second_email) %>
    </div>
  </div>

  <div class="form__group">
    <strong> Mobile phone </strong>
    <div class="form__field">
      <%= display_or_default(@report.user.mobile_number) %>
    </div>
  </div>

  <div class="form__group">
    <strong> Skype username </strong>
    <div class="form__field">
      <%= display_or_default(@report.user.skype_username) %>
    </div>
  </div>
  
  <hr>
<% end %>

<h3>Report details</h3>

<div class="form__group">
  <strong> Country of discovery </strong>
  <div class="form__field">
    <%= display_or_default(@report.answer_to('country_of_discovery')) %>
  </div>
</div>

<div class="form__group">
  <strong> Law enforcement confiscation? </strong>
  <div class="form__field">
    <%= display_or_default(@report.answer_to('confiscated')) %>
  </div>
</div>

<div class="form__group">
  <strong> Date of incident </strong>
  <div class="form__field">
    <%= display_or_default(@report.answer_to("date_of_discovery")&.strftime("%d/%m/%Y")) %>
  </div>
</div>

<hr>

<h3>Ape details</h3>

<div class="u-group">
  <div class="form__group">
    <strong> Total live apes</strong>
    <div class="form__field">
      <%= display_or_default(@report.data.dig('answers', 'quantities', 'selected', 'live')) %>
    </div>
  </div>

  <div class="form__group">
    <strong> Total dead apes</strong>
    <div class="form__field">
      <%= display_or_default(@report.data.dig('answers', 'quantities', 'selected', 'dead')) %>
    </div>
  </div>

  <div class="form__group">
    <strong> Body parts?</strong>
    <div class="form__field">
      <%= display_or_default(@report.data.dig('answers', 'quantities', 'selected', 'body_parts')&.to_s&.titleize) %>
    </div>
  </div>
</div>

<% if @live_apes.any? %>
  <% @live_apes.each_with_index do |ape, index| %>
    <%= render partial: "reports/ape_summary", locals: { ape: ape, status: "live", index: index} %>
  <% end %>
<% end %>

<% if @dead_apes.any? %>
  <% @dead_apes.each_with_index do |ape, index| %>
    <%= render partial: "reports/ape_summary", locals: { ape: ape, status: "dead", index: index} %>
  <% end %>
<% end %>

<% if @body_parts.any? %>
  <div class="form__group">
    <strong>Body parts</strong>
    <ul>
      <% @body_parts.each do |genus| %>
        <li><%= ape_genus(genus) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<hr>

<h3>Validation history</h3>
  <p>Report first started by <%= @report.user.full_name %>, <%= @report.user.agency.name %> on <%= @report.created_at.strftime('%l:%M%P %-d/%-m/%Y') %></p>

<% @report.validations.order(created_at: :asc).each do |validation| %>
  <div class="validation">
    <div class="validation__info">
      <p>Marked as <strong><%= validation.state %></strong> by <%= validation.user.full_name %>, <%= validation.user.agency.name %> on <%= validation.created_at.strftime('%l:%M%P %-d/%-m/%Y') %> <i class="fa fa-chevron-up"></i></p>
    </div>

    <div class="validation__comments" style="display:none;">
      <div class="form__group">
        <strong> Comments for provider </strong>
        <div class="form__field">
          <%= validation.comments_for_provider %>
        </div>
      </div>

      <div class="form__group">
        <strong> Comments for admin</strong>
        <div class="form__field">
          <%= validation.comments_for_admin %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% if current_user.is_role?(:admin) %>
  <hr>

  <h3>Matched validators</h3>
  <p>This list may change as the report is modified.</p>
  <% if @matched_validators.any? %>
    <ul>
      <% @matched_validators.each do |validator| %>
        <li>
          <%= link_to admin_user_path(validator.id) do %>
            <%= validator.full_name %> (<%= validator.email %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No validators matched.</p>
  <% end %>
<% end %>
