<%= content_for :page_title, "Thank you, your report has been submitted" %>
<%= content_for :breadcrumbs do %>
  <%= breadcrumb "Report Submitted", report_thank_you_path %>
<% end %>

<p> Thanks for taking the time to submit your report!  </p>

<p> Your report will now be looked at by one of our expert validators who may be in touch regarding the information you've provided.  </p>

<p>If you need to speak further to anybody at GRASP about this report please don't hesitate to <%= link_to "contact the relevant focal point", "http://www.un-grasp.org/contact-us/", target: "_blank" %>.<p>

<h4> Thank you from everyone at GRASP for your vital help in protecting great apes.  </h4>

<%= link_to "Start a new report", new_report_path, class: 'button button-primary' %>
