<header class="header">
  <div class="header__mobile">
    <div class="header__inner">
      <div class="header__title-bar">
        <div class="header__main-logo">
          <a href="<%= reports_path %>"><%= image_tag 'grasp_logo.png' %></a>
        </div>

        <% if user_signed_in? %>
          <div class="header__right-side">
            <button class="header__menu-button header__menu-button">Menu</button>
          </div>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="header__main-nav">
          <div class="header__left-side">
            <ul>
              <li class="divider"></li>
              <% if can? :read, Report %>
                <li><%= link_to 'Reports', reports_path %></li>
              <% end %>
              <% if can? :manage, User %>
                <li><%= link_to 'Users', admin_users_path %></li>
              <% end %>
              <% if can? :read, Agency %>
                <li><%= link_to 'Agencies', agencies_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>



  <div class="header__desktop">
    <div class="header__inner">
      <div class="header__main-logo">
        <a href="<%= reports_path %>"><%= image_tag 'grasp_logo.png' %></a>
      </div>
      <% if user_signed_in? %>
        <div class="header__left-side">
          <ul>
            <% if can? :read, Report %>
              <li><%= link_to 'Reports', reports_path %></li>
            <% end %>
            <% if can? :manage, User %>
              <li><%= link_to 'Users', admin_users_path %></li>
            <% end %>
            <% if can? :read, Agency %>
              <li><%= link_to 'Agencies', agencies_path %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="header__lower">
      <div class="header__inner">
        <div class="header__right-side">
          <ul>
            <li>Hi <%= current_user.first_name.titleize %></li>
            <li><%= link_to 'My Profile', edit_user_registration_path %></li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path do %>
                Log out <i class="fa fa-sign-out"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</header>
