<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>Grasp</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render "layouts/favicons" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/navigation" %>

    <div class="main-container">
      <%= render "layouts/flash_notification" %>
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <% if Rails.env.staging? || Rails.env.production? %>
      <%= render "layouts/tracking" %>
    <% end %>
  </body>
</html>
