<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title><%= content_for?(:page_title) ? "#{yield(:page_title)} | Apes Seizure Database" : "Apes Seizure Database" %></title>

    <!-- google -->
    <meta name="Description" content="The Apes Seizure Database is the home of credible and current information relating to great apes taken from unlawful situations and the illegal trade in great ape parts and carcasses.">
    <meta name="twitter:description" content="The Apes Seizure Database is the home of credible and current information relating to great apes taken from unlawful situations and the illegal trade in great ape parts and carcasses.">

    <!-- Twitter -->
    <meta name="twitter:site" content="@GRASPUNEP">
    <meta name="twitter:title" content="Apes Seizure Database">
    <meta content="<%= asset_url("landing_page_hero.jpg") %>" name="twitter:image">

    <!-- FB -->
    <meta name="og:site_name" content="Apes Seizure Database">
    <meta name="og:title" content="Apes Seizure Database">
    <meta name="og:description" content="The Apes Seizure Database is the home of credible and current information relating to great apes taken from unlawful situations and the illegal trade in great ape parts and carcasses.">
    <meta name="og:url" content="<%= request.original_url %>">
    <meta name="og:type" content="website">
    <meta content="<%= asset_url("landing_page_hero.jpg") %>" name="og:image">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render "layouts/favicons" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/navigation" %>

    <%= yield :outside_main_container %>

    <div class="main-container">
      <%= render "layouts/flash_notification" %>
      <div class="u-hide js-questionnaire-notification"></div>
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <% if Rails.env.staging? || Rails.env.production? %>
      <%= render "layouts/tracking" %>
    <% end %>
  </body>
</html>
